.maindiv{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.inp{
    width: 40vw;
    position: relative;
    right: 10vw;
}
.lis{
    display: flex;
    row-gap: 3px;
}